body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
}

.cabecalho {
    background-color: #00626e;
    color:rgb(255, 255, 255);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    text-decoration: none;
    color: #ffffff;
    display:flex;
    align-items: center;
}

.logo img {
    height: 35px;
    margin-right: 10px;
}

.titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8em;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

.opcoes-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.opcoes-nav li {
    margin-left: 25px;
}

.opcoes-nav a {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none; 
    font-weight: 525;
    transition: color 0.3s ease;
}

.opcoes-nav a:hover {
    color: #d6445c;
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        text-align: center;
    }

    .opcoes-nav {
        margin-top: 10px;
    }

    .opcoes-nav ul {
        flex-direction: column;
    }

    .opcoes-nav li {
        margin: 5px 0;
    }   
}

main {
    width: 65%;
    margin: 12px auto;
    background-color: rgba(0, 97, 110, 0.603); 
    padding: 25px;
    border-radius: 5px;
    text-align: justify;
}

footer {
    background: #00626e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}